RewriteEngine on

<Files ~ "^\.(htaccess|htpasswd)$">
 deny from all
</Files>

# letras, numeros, -, _, barras e sem distinção de case
RewriteRule ^([a-z,0-9,\-,_\/]+)$ engine/router/router.php?url=$1 [NC]


#FIM REDIRECIONAMENTOS

# ErrorDocument 404 /chocolate/404
DirectoryIndex index.php engine/router/router.php