RewriteEngine on

<Files ~ "^\.(htaccess|htpasswd)$">
 deny from all
</Files>

RewriteRule ^([a-z0-9\/]+)\/?$ router/router.php?url=$1


#FIM REDIRECIONAMENTOS

# ErrorDocument 404 /chocolate/404
DirectoryIndex index.php router/router.php